<div class="container">
  <h1 class="display-1 text-center">Employees Information</h1>

  <table
    class="table table-bordered table-hover shadow p-3 mb-5 bg-body rounded"
  >
    <thead class="table-primary">
      <tr>
        <th>
          <input
            type="checkbox"
            (change)="selectAllRows($event)"
            [checked]="areAllRowsSelected()"
          />
        </th>
        <th>Name</th>
        <th>Type</th>
        <th>Email</th>
        <th>Phone No</th>
        <th>Company Name</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of tableData; let i = index">
        <tr>
          <td>
            <input
              type="checkbox"
              (change)="toggleCheckbox(i)"
              [checked]="isSelectedRow(i)"
            />
          </td>
          <td (click)="toggleCollapse(i)">
            <div class="name-container">
              <i
                class="bi bi-arrow-right-short"
                [class.rotated]="!item.collapsed"
              ></i>
              {{ item.name }}
            </div>
          </td>
          <td>{{ item.type }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.phoneNo }}</td>
          <td>{{ item.companyName }}</td>
          <td>{{ item.address }}</td>
          <td *ngIf="showDeleteButton(i) || areAllRowsSelected()">
            <button class="btn btn-danger" (click)="deleteRow(i)">
              Delete
            </button>
          </td>
        </tr>
        <tr *ngIf="!item.collapsed" class="table-info">
          <td colspan="8">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Email</th>
                  <th>Phone No</th>
                  <th>Company Name</th>
                  <th>Address</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="let child of item.children; let j = index"
                >
                  <tr>
                    <td>{{ child.name }}</td>
                    <td>{{ child.type }}</td>
                    <td>{{ child.email }}</td>
                    <td>{{ child.phoneNo }}</td>
                    <td>{{ child.companyName }}</td>
                    <td>{{ child.address }}</td>
                    <td colspan="8">
                      <button
                        class="btn btn-danger delete-button-hover"
                        (click)="deleteSecondRow(i, j)"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="selectedCheckboxes.length > 0 || areAllRowsSelected()">
        <td colspan="7"></td>
        <td>
          <button class="btn btn-danger" (click)="deleteMultipleRows()">
            Delete selected
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
